body {
  margin: 0;
  font-family: 'Inika', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inika',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center1 {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  border: 3px solid green; */
}
